--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio

uvicorn == 0.34.2
uvicorn[standard] == 0.34.2
fastapi == 0.115.12
termcolor == 3.1.0
natsort == 8.4.0
chardet == 5.2.0
pyway == 0.3.32

transformers == 4.53.1
ctranslate2 == 4.6.0

blingfire == 0.1.8
pysbd == 0.3.4

lmstudio == 1.4.1

ebooklib == 0.19
beautifulsoup4  == 4.13.4
