uvicorn
uvicorn[standard]
fastapi
termcolor
natsort
chardet

transformers
ctranslate2

blingfire
pysbd

lmstudio

ebooklib
beautifulsoup4

--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio
